pre {
	border: none;
	background: none;
	white-space: pre-line;
}
body {
	margin-bottom: 2em;
}
code {
	border: 1px solid rgba(199, 37, 78, 0.44)
}
h1, h2, h3 {line-height: 40px;}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-family: inherit;
	text-rendering: optimizelegibility;
	margin-top: 10px;
	margin-right: 0em;
	margin-bottom: 10px;
	margin-left: 0em;
}
h2 {
	display: block;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0em;
	-webkit-margin-end: 0em;
}
@-webkit-viewport   {
	width: device-width; 
}
@-moz-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {	
	width: device-width; 
}
@-ms-viewport  { 
	width: device-width; 
}